.app-container {
  /* padding: 20px; */
  box-sizing: border-box; /* Ensure padding is included in width calculations */
}

/* For smaller screens */
@media (max-width: 768px) {
  .app-container {
    padding: 15px; /* Slightly reduce padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .app-container {
    padding: 10px; /* Further reduce padding for very small screens */
  }
}

.kanban-board {
  display: flex;
  gap: 20px;
  background-color: whitesmoke;
  padding: 10px;
}

/* For smaller screens */
@media (max-width: 780px) {
  .kanban-board {
    flex-direction: column; /* Stack columns vertically on smaller screens */
    gap: 15px; /* Reduce the gap between columns */
  }
}

@media (max-width: 480px) {
  .kanban-board {
    gap: 10px; /* Reduce the gap further for very small screens */
  }
}
